* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'lucida-grande';
    src: url('../fonts/ufonts.com_lucida-grande.ttf');
}

body {
    font-family: 'lucida-grande', sans-serif;
}

/*.feature_name_tagging_client light_theme {*/
/*font-family: 'lucida-grande', sans-serif;*/
/*}*/

#client-ui {
    display: flex;
    /*flex-direction: column;*/
    /*flex-grow: 1;*/
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/*.container-fluid {*/
/*padding-right: 0;*/
/*padding-left: 0;*/
/*}*/

.side_bar_left {
    background: #282a29;
    height: auto;
    width: 70px;
    overflow: auto;
}

.logo_wrapper img, i {
    max-width: 40px;
    max-height: 120px;
    /*padding: 3px;*/
    margin: 10px;
    border-radius: 3px;
}

.logo_wrapper figcaption {
    margin-left: 10px;
    color: grey
}

i.online {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #99D04A;
}

i.fa-plus-circle {
    float: right;
}

.client_channels_list_container {
    /*position: relative;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex-basis: 220px;*/
    /*flex-shrink: 0;*/
    /*min-width: 1px;*/
    /*max-width: 260px;*/
    /*z-index: 201;*/
    /*box-sizing: content-box;*/
    /*visibility: visible;*/
    min-width: 220px;
    height: auto;
    background: #4f5452;
    overflow:auto;
}

.client_channels_list_container ul li {
    list-style: none;
    color: #bbbfbe;
    margin-left: 15px;
    margin-bottom: 5px;
    /*padding-bottom:7px;*/
    font-size: 14px;
}

.client_main_container {
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    /*flex-grow: 1;*/
    /*min-width: 1px;*/
    width: 1620px;
    height: auto;
    background-color: #2a80b9;
}

.client_main_container_header {
    height: 60px;
    width: 1620px;
    background-color: #303aff;
}

.client_main_container_body {
    height: auto;
    width: 1620px;
    background-color: grey;
    display: flex;
    /*flex-wrap: wrap;*/
}



.client_main_container_main {
    /*flex-grow: 3;*/
    /*display:flex;*/
    /*flex-direction: row;*/
    height: auto;
    width: 1120px;
    background-color: #b220a1;
}

.client_main_container_posts {
    /*flex-grow: 1;*/
    height: 800px;
    width: 1120px;
    background-color: #7F7F83;
}

.client_main_container_main_input {
    height: 80px;
    width: 1120px;
    background-color: #36a64f;
}

.client_main_container_aside {
    height: auto;
    min-width: 500px;
    background-color: #7D60C5;
}
