*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'lucida-grande';
    src: url('../fonts/ufonts.com_lucida-grande.ttf');
}

body {
    font-family: 'lucida-grande', sans-serif;
}

#client-ui {
    display: flex;
    height: 100vh;
    width: 100%;
    /*justify-content: space-around;*/
    /*overflow: hidden;*/
}

.side_bar_left {
    background: #282a29;
    height: auto;
    min-width: 70px;
    overflow: auto;
}

.logo_wrapper img, i {
    margin: 10px;
    border-radius: 3px;
}

.logo_wrapper figcaption {
    margin-left: 10px;
    color: grey
}

a, li {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #bbbfbe;
}

li:hover {
    background-color: #7F7F83;
}
p i.fa.fa-bars.fa-2x.bar_m:hover{
    transform: scale(1.2);
    color:#fff
}
#ais {
    margin-left: 120px;
}

i.fa.fa-plus-circle {
    margin-left: 60px;
}

.client_channels_list_container ul li .c_m {
    margin-left: 105px;
}

.client_channels_list_container ul li .a_m {
    margin-left: 135px;
}

.client_channels_list_container .bar_m {
    margin-left: 90px;
}

i.online {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #99D04A;
}

p i.fa.fa-bars.fa-2x {
    color: grey;
}

.client_channels_list_container {
    min-width: 220px;
    height: auto;
    background: #4f5452;
    overflow: auto;
}

.client_channels_list_container ul li {
    list-style: none;
    color: #bbbfbe;
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 14px;
}

.client_main_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    /*background-color: #2a80b9;*/
}


.client_main_container_main {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    border-right: 2px solid lightgrey;
}

.client_main_container_body {
    display: flex;
    width: 100%;
}
.outer_wrapper{
    padding:10px;
}
.client_main_container_main_input_wrapper {
    height: 46px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid lightgrey;
    display: flex;
    align-items: center;
}

#main_input {
    width: 100%;
    height: 42px;
    border: none;
    border-left: 2px solid lightgrey;
    font-size: 20px;
    padding: 5px;
}

/* header*/

#channelHeader {
    background: white;
    display: flex;
    padding-left: 20px;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

#channelName {
    font-size: 17px;
    font-weight: 900;
    display: flex;
    color: grey;
}

#right input {
    width: 300px;
    padding-top: 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background: #ffffff;
    outline: none;
    height: 30px;
    color: black;
}

i.fa {
    color: grey;
}

/*aside right*/

.client_main_container_aside {
    height: auto;
    min-width: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.details:first-child {
    background: #f9f9f9;
    font-weight: 900;
}

.details {
    width: 100%;
    font-size: 16px;
    border-bottom: 1px solid lightgray;
    padding: 22px 0 22px 10px;
    opacity: 0.7;
}

/*posts*/

.client_main_container_posts {
    margin-left: 0;
    max-width: 1000px;
    height: 800px;
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    box-shadow: inset 1px 0 0 0 #e8e8e8;
}

.post {
    display: block;
    width: 100%;
    margin: 0 auto -.0625rem;
    position: relative;
    border-left: none;
    border-right: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    color: #2c2d30;
    font-size: 15px;
    line-height: 22px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    word-wrap: break-word;
    padding: 1px 40px 2px 0;
}

.avatar {

}

.title {

}

.time {

}

.messageText {

}